# Get these values for correct connection to the api.

# Administered from the admin.
ACTION_BUILDER_API_KEY=your_actual_api_key
# The prefix for the .actionbuilder.
ACTION_BUILDER_SUBDOMAIN=your_actual_subdomain
# The id associated with desired campaign.
ACTION_BUILDER_CAMPAIGN_ID=your_actual_campaign_id